section.main-section
  .wrapper
    .main-section__container
      include ../components/header.pug
      h1.main-section__title.font-s-74.text-up
        | Зарабатывайте 
        br.no-br
        span.color-tomato от 75 000 рублей 
        br.no-br
        span.color-tomato ежемесячно 
        br.no-br
        | с одной точки,
      .main-section__sub-title.font-w-s-bold.font-s-34
        | став партнёром 
        span.color-green франшизы «ТАТЛЫ»
      .main-section__text.font-w-medium.font-s-20
        | Получите пошаговый план запуска вашего первого магазина 
        br.no-br
        | замороженных десертов и полуфабрикатов 
        span.color-tomato.font-w-semi-bold за 23 дня
      button.btn(data-remodal-target="modal-form-plan") Получить план запуска
      img.main-section__img(src="images/main-section-img.png" loading="lazy" width="1728" height="1904" alt="image")
  img.main-section__arc(src="images/main-section-arc.png" loading="lazy" width="1920" height="90" alt="image")
