section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-s-extra-bold.font-s-54.text-up
        | Подробнее о схеме запуска 
        br.no-br
        | вашей 
        span.color-tomato первой точки
      .swiper-start
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            .start-section__card-num.font-w-s-extra-bold.font-s-16 1
            .start-section__card-text.font-w-medium.font-s-18 Заключение договора франшизы
          .start-section__card.swiper-slide.start-card-order-3
            .start-section__card-num.font-w-s-extra-bold.font-s-16 2
            .start-section__card-text.font-w-medium.font-s-18 Поиск помещения и заключение <br> договора аренды
          .start-section__card.swiper-slide.start-card-order-5
            .start-section__card-num.font-w-s-extra-bold.font-s-16 3
            .start-section__card-text.font-w-medium.font-s-18 Ремонт и оформление помещения
          .start-section__card.swiper-slide.start-card-order-7
            .start-section__card-num.font-w-s-extra-bold.font-s-16 4
            .start-section__card-text.font-w-medium.font-s-18 Поиск персонала
          .start-section__card.swiper-slide.start-card-order-9
            .start-section__card-num.font-w-s-extra-bold.font-s-16 5
            .start-section__card-text.font-w-medium.font-s-18 Получение разрешений <br> и согласований в госинстанциях
          .start-section__card.swiper-slide.start-card-order-2
            .start-section__card-num.font-w-s-extra-bold.font-s-16 6
            .start-section__card-text.font-w-medium.font-s-18 Доставка и монтаж приобретенного <br> оборудования, мебели
          .start-section__card.swiper-slide.start-card-order-4
            .start-section__card-num.font-w-s-extra-bold.font-s-16 7
            .start-section__card-text.font-w-medium.font-s-18 Формирование первичных запасов <br> товара и расходных материалов
          .start-section__card.swiper-slide.start-card-order-6
            .start-section__card-num.font-w-s-extra-bold.font-s-16 8
            .start-section__card-text.font-w-medium.font-s-18 Обучение персонала
          .start-section__card.swiper-slide.start-card-order-8
            .start-section__card-num.font-w-s-extra-bold.font-s-16 9
            .start-section__card-text.font-w-medium.font-s-18 Официальное открытие
        .start-pagination.swiper-progress-start
      .start-section__bottom
        .font-w-s-extra-bold.font-s-32.text-up
          | Работаем строго 
          span.color-tomato по договору
        .font-w-medium.font-s-20
          | в котором описаны наши обязанности 
          br.no-br
          | и все условия сотрудничества
        button.btn(data-remodal-target="modal-form-agreement") Скачать пример договора
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="1011" height="913" alt="image")
