section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-w-black.font-s-37.text-up.text-center
        | Основные этапы 
        br
        | совместной работы
      .swiper-steps
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-black.font-s-20.text-up 1 этап
            .font-s-20 Заключение договора франшизы
          .steps-section__card.steps-card-order-4.swiper-slide
            .steps-section__card-num.font-w-black.font-s-20.text-up 2 этап
            .font-s-20 Поиск помещения
          .steps-section__card.steps-card-order-7.swiper-slide
            .steps-section__card-num.font-w-black.font-s-20.text-up 3 этап
            .font-s-20 Заключение договора аренды
          .steps-section__card.steps-card-order-2.swiper-slide
            .steps-section__card-num.font-w-black.font-s-20.text-up 4 этап
            .font-s-20 Поиск персонала
          .steps-section__card.steps-card-order-5.swiper-slide
            .steps-section__card-num.font-w-black.font-s-20.text-up 5 этап
            .font-s-20 Обучение персонала
          .steps-section__card.steps-card-order-3.swiper-slide
            .steps-section__card-num.font-w-black.font-s-20.text-up 6 этап
            .font-s-20 Официальный старт
          .steps-section__card.steps-card-order-6.swiper-slide
            .steps-section__card-num.font-w-black.font-s-20.text-up 7 этап
            .font-s-20 Помощь в росте и масштабировании
        .steps-pagination.swiper-progress-steps
      .steps-section__bottom
        img.steps-section__bottom-icon(src="images/steps-section-bottom-icon.png" loading="lazy" width="1330" height="852" alt="icon")
        .font-w-black.font-s-26.text-up Работаем строго по договору,
        .font-s-24
          | в котором описаны наши обязанности и 
          br.no-br
          | все условия сотрудничества
        button.btn.btn--secondary(data-remodal-target="modal-form-agreement") Скачать пример договора
