section.support-section
  .support-section__shadow
    .support-section__wrapper
      .wrapper
        .support-section__container
          h2.support-section__title.font-w-s-extra-bold.font-s-54.text-up
            | Дополнительные меры 
            span.color-tomato поддержки 
            br.no-br
            | для новых партнёров
          .support-section__body
            img.support-section__img-leaf(src="images/support-section-img-leaf.png" loading="lazy" width="285" height="296" alt="image")
            .swiper-support
              .support-section__cards.swiper-wrapper
                .support-section__card.swiper-slide
                  img.support-section__card-icon(src="images/support-section-card-icon-1.svg" loading="lazy" width="30" height="30" alt="icon")
                  .font-w-medium.font-s-18 Помощь в выборе наилучшей локации для открытия
                .support-section__card.swiper-slide
                  img.support-section__card-icon(src="images/support-section-card-icon-2.svg" loading="lazy" width="30" height="30" alt="icon")
                  .font-w-medium.font-s-18 Помощь в пошаговом становлении бизнеса
                .support-section__card.swiper-slide
                  img.support-section__card-icon(src="images/support-section-card-icon-3.svg" loading="lazy" width="30" height="30" alt="icon")
                  .font-w-medium.font-s-18 Организация строгого учета всех процессов
                .support-section__card.swiper-slide
                  img.support-section__card-icon(src="images/support-section-card-icon-4.svg" loading="lazy" width="30" height="30" alt="icon")
                  .font-w-medium.font-s-18 Помощь в раскрутке и продвижении магазина
                .support-section__card.swiper-slide
                  img.support-section__card-icon(src="images/support-section-card-icon-5.svg" loading="lazy" width="30" height="30" alt="icon")
                  .font-w-medium.font-s-18 Формирование регламентов и стандартов работы
                .support-section__card.swiper-slide
                  img.support-section__card-icon(src="images/support-section-card-icon-6.svg" loading="lazy" width="30" height="30" alt="icon")
                  .font-w-medium.font-s-18 Помощь в подборе ассортимента
                .support-section__card.swiper-slide
                  img.support-section__card-icon(src="images/support-section-card-icon-7.svg" loading="lazy" width="30" height="30" alt="icon")
                  .font-w-medium.font-s-18 Консультации по любым вопросам
              .support-pagination.swiper-progress-support
            img.support-section__img(src="images/support-section-img.jpg" loading="lazy" width="1144" height="880" alt="image")
            img.support-section__img-berry(src="images/support-section-img-berry.png" loading="lazy" width="644" height="504" alt="image")
