section.thanks-section
  .thanks-section__container
    h1.thanks-section__title.font-w-s-extra-bold.font-s-54.text-up
      | НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ 
      | ВАШЕЙ ЗАЯВКОЙ
    p.thanks-section__inner-text.font-w-s-bold.font-s-28
      | Мы свяжемся с Вами в ближайшее время
    a.btn.btn--secondary(href="index.html") Вернуться на главную
