// .header-thanks
//   &__container
//     display: flex
//     flex-direction: row
//     align-items: center
//     justify-content space-between

//   &__text
//     display: none
//     +above($breakpoints.sm)
//       display: block

//   &__logo
//     width 40px
//     height: auto
//     +above($breakpoints.sm)
//       width 40px
//     +above($breakpoints.md)
//       width 45px
//     +above($breakpoints.xxl)
//       width 48px

//   &__connection
//     display: flex
//     flex-direction: row
//     gap: 5px
//     +above($breakpoints.sm)
//       align-items: center

//   &__connection-icon
//     width 25px
//     height: 25px
//     +above($breakpoints.sm)
//       width 30px
//       height: 30px
