.input
  height: 45px
  width 100%
  padding: 0 30px;
  font-family: 'Raleway-Regular'
  font-weight: 400
  font-size: 14px;
  line-height: 120%
  color: #9F9F9F
  border: 1px solid #fff
  border-radius: 35px;
  background: #fff
  position relative
  overflow hidden

  &.active
    .input__progress
      opacity 1
      min-width: 40px
      span
        opacity 1
  &__progress
    position: absolute
    height: 100%
    top: 0
    left: 0
    background: #000;
    opacity 0
    min-width: 0
    display: flex
    align-items: center
    justify-content: center
    font-size: 16px
    line-height: 16px
    transition: min-width 1s, opacity 0.8s
    color: #fff
    font-weight: bold
    border-radius: 100px
    +above($breakpoints.xxl)
      font-size: 20px
      line-height: 20px
    span
      opacity 0
      transition: 2s

  transition border-color 0.3s, box-shadow 0.3s, border 0.3s
  &:hover
    border 2px solid #E1F0B6
  &:focus
    color: #1E1E1E
    caret-color: #1E1E1E
    border 2px solid #E1F0B6
    box-shadow: 3px 3px 20px 0px #E1F0B6
    background: #fff
    &::placeholder
      color: #9F9F9F
  &::placeholder
    color: #9F9F9F
  +above($breakpoints.sm)
    height: 55px
    font-size: 15px;
  +above($breakpoints.md)
    height: 65px
    font-size: 16px;
  +above($breakpoints.xxl)
    font-size: 18px;
    height: 70px
  &.error
    border 1px solid $color-error
    color: $color-error
    caret-color: $color-error
    box-shadow: 0px 0px 22px 0px $color-error
    background: transparent
    &::placeholder
      color: $color-error
    &::-ms-input-placeholder
      color: $color-error
    animation: shake 0.6s;
    @keyframes shake
      10%, 90%
        transform: translate3d(-1px, 0, 0)
      20%, 80%
        transform: translate3d(2px, 0, 0)
      30%, 50%, 70%
        transform: translate3d(-4px, 0, 0)
      40%, 60%
        transform: translate3d(4px, 0, 0)

  // &--textarea
  //   outline none
  //   padding: 15px 10px 10px 20px
  //   resize: none
  //   height: 70px
  //   border-radius: 20px
  //   border: 1px solid #fff
  //   background: transparent
  //   color: #fff
  //   width 280px
  //   +above($breakpoints.sm)
  //     height: 105px
  //     width 270px
  //   +above($breakpoints.md)
  //     height: 126px
  //     width 270px
  //     padding: 20px 10px 10px 34px
  //   +above($breakpoints.xxl)
  //     height: 137px
  //     width 350px !important

  // &--secondary
  //   border: 1px solid #fff
  //   color: #fff
  //   &:hover
  //     border 2px solid #fff
  //   &:focus
  //     color: #fff
  //     caret-color: #fff
  //     border 2px solid #fff
  //     box-shadow: 3px 3px 20px 0px #fff
  //     background: transparent
  //     &::placeholder
  //       color: #fff
  //   &::placeholder
  //     color: #fff

  // &--tertiary
  //   border: 1px solid #F5F5F5
  //   background: #F5F5F5
  //   color: #000
